extends gridMainLayout.jade
block gridLayoutContent
	ul(role='tablist').nav.nav-tabs
		li(role="presentation").active
			a(href="#result" aria-controls="result" role="tab" data-toggle="tab") Result
		li(role="presentation")
			a(href="#code" aria-controls="code" role="tab" data-toggle="tab") Code
	.tab-content
		.tab-pane(role="tabpanel" id="result").active
			block result
		.tab-pane(role="tabpanel" id="code")
			block code
	script(type='text/javascript').
		$(document).ready(function () {
			$('#result').tab('show');
		});
