extends layout/layout
block content
	#content
		h1 Hello 
		//- my name is Deema 
		//- br
		//- p I'm developer
		//- div.left
		//- 	img(src='/images/portrait.png' width=150 height=150)
		//- ul My contacts are:
		//- 	li 
		//- 		a(href="https://github.com/lukin-deema") GitHub
		//- 	li
		//- 		a(href="https://bitbucket.org/lukin-deema") Bitbacket
		//- 	li
		//- 		a(href="skype:thereaper8724?call") Skype 
		//- 		| profile thereaper8724