.top
	div(id='logo')
		span.image.avatar48
			img(src="images/avatar.jpg", alt="")
		h1(id='title') Jane Doe
		p Hyperspace Engineer
	nav(id='nav')
		ul
			li
				a(href="#top" id='top-link').skel-layers-ignoreHref
					span.icon.fa-home Intro
			li
				a(href="#portfolio" id='portfolio-link').skel-layers-ignoreHref
					span.icon.fa-th Portfolio
			li
				a(href="#about" id='about-link').skel-layers-ignoreHref
					span.icon.fa-user About Me
			li
				a(href="#contact" id='contact-link').skel-layers-ignoreHref
					span.icon.fa-envelope Contact
.bottom
	ul.icons
		li
			a(href="#").icon.fa-twitter
				span.label Twitter
		li
			a(href="#").icon.fa-facebook
				span.label Facebook
		li
			a(href="#").icon.fa-github
				span.label Github
		li
			a(href="#").icon.fa-dribbble
				span.label Dribbble
		li
			a(href="#").icon.fa-envelope
				span.label Email
