.top
	div(id='logo')
		span.image.avatar48
			img(src="images/portrait_small.png", alt="")
		h1(id='title') Lukin Dmitry
		p Developer
	nav(id='nav')
		ul
			li
				a(href="#top" id='top-link').skel-layers-ignoreHref
					span.icon.fa-home Intro
			li
				a(href="#grid-control" id='grid-control-link').skel-layers-ignoreHref
					span.icon.fa-table Javascript table
			li
				a(href="#tooltip-control" id='tooltip-control-link').skel-layers-ignoreHref
					span.icon.fa-comment-o Javascript tooltip
			li
				a(href="#simple-game" id='simple-game-link').skel-layers-ignoreHref
					span.icon.fa-circle Web socket simple game
			//- li
			//- 	a(href="#about" id='about-link').skel-layers-ignoreHref
			//- 		span.icon.fa-user About Me
.bottom
	ul.icons
		li
			a(href="https://bitbucket.org/lukin-deema/" target="_blank").icon.fa-bitbucket
				span.label Bitbucket
		li
			a(href="https://github.com/lukin-deema" target="_blank").icon.fa-github
				span.label Github
		li
			a(href="https://ua.linkedin.com/in/dmitry-lukin-30b56a66"  target="_blank").icon.fa-linkedin
				span.label LinkedIn
		li
			a(href="mailto:lukin.d8709@gmail.com" target="_blank").icon.fa-envelope
				span.label Email
		li
			a(href="skype:thereaper8724?call" target="_blank").icon.fa-skype
				span.label Email

