section(id='top').one.dark.cover
	.container
		header
			h2.alt Hi! I'm 
				strong Prologue
				| , a 
				a(href="http://html5up.net/license") free
				|  responsive
				br
				| site template designed by 
				a(href="http://html5up.net") HTML5 UP
				| .
			p Ligula scelerisque justo sem accumsan diam quis
				br
				| vitae natoque dictum sollicitudin elementum.
		footer
			a(href="portfolio").button.scrolly Magna Aliquam
section(id='portfolio').two
	.container
		header
			h2 Portfolio
		p Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
			| egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
			| Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
			| usce hendrerit lacus ridiculus.
		.row
			div(class='4u 12u$(mobile)')
				article.item
					a(href="#").image.fit
						img(src="images/pic02.jpg", alt="")
					header
						h3 Ipsum Feugiat
				article.item
					a(href="#").image.fit
						img(src="images/pic03.jpg", alt="")
					header
						h3 Rhoncus Semper
			div(class='4u 12u$(mobile)')
				article.item
					a(href="#").image.fit
						img(src="images/pic04.jpg", alt="")
					header
						h3 Magna Nullam
				article.item
					a(href="#").image.fit
						img(src="images/pic05.jpg", alt="")
					header
						h3 Natoque Vitae
			div(class='4u 12u$(mobile)')
				article.item
					a(href="#").image.fit
						img(src="images/pic06.jpg", alt="")
					header
						h3 Dolor Penatibus
				article.item
					a(href="#").image.fit
						img(src="images/pic07.jpg", alt="")
					header
						h3 Orci Convallis
section(id='about').three
	.container
		header
			h2 About Me
		a(href="#").image.featured
			img(src="images/pic08.jpg", alt="")
		p Tincidunt eu elit diam magnis pretium accumsan etiam id urna. Ridiculus
			| ultricies curae quis et rhoncus velit. Lobortis elementum aliquet nec vitae
			| laoreet eget cubilia quam non etiam odio tincidunt montes. Elementum sem
			| parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper
			| dolor. Libero rutrum ut lacinia donec curae mus vel quisque sociis nec
			| ornare iaculis.
section(id='contact').four
	.container
		header
			h2 Contact
		p Elementum sem parturient nulla quam placerat viverra
			| mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
			| donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
			| orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.
		form(action="#" method="post")
			.row
				div(class='6u 12u$(mobile)')
					input(type="text" name="name" placeholder="Name")
				div(class='6u 12u$(mobile)')
					input(type="text" name="email" placeholder="Email")
				div(class='12u$')
					textarea(name="message" placeholder='Message')
				div(class='12u$')
					input(type="submit" value='Send Message')

